.compot2 {
  background-color: cadetblue;
  color: white;
  margin: 2rem;
}
.loadersection {
  display: flex;
}

.imager {
  width: 10rem;
  box-sizing: border-box;
  img {
    width: 100%;
  }
}

.svgcat {
  width: 10rem;
  height: 20rem;
}

.loadernote {
  display: flex;
  justify-content: center;
  align-items: center;

}